.cs.ui.checkbox {
  label {
    &:before {
      height: 18px;
      width: 18px;
      border: 1px solid #B9C3C6;
      border-radius: 3px;
    }
  }

  input:checked ~ .box:after,
  input:checked ~ label:after {
    color: #70879E;
  }
}
