@import '../base/color';

.ui.input {
  min-height: 0;
  height: 34px;
}
.ui.input > input {
  border-right: none;
  border-color: @grey-500;
  font-family: 'Roboto';

  &::placeholder {
    color: @grey-500;
  }
}

.ui.input.bordered.fill > input,
.ui.input.bordered > input:focus {
  border-color: @crimson;
}

.ui.input.fill > input + .ui.label,
.ui.input > input:focus + .ui.label {
  background-color: @crimson;
}

.ui.label {
  background-color: @grey-500;
}

.ui.label > .icon {
  margin: 0;
  color: white;
}
