.ui.selection.dropdown,
.ui.selection.dropdown .menu {
  background: #F8F9F9;
  border: none;
}

.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: #B9C3C6;
}