@import '../base/color';

.grow {
  flex-grow: 1;
}

.warning-text {
  padding: 10px;
  border-radius: 4px;
  background-color: @warningBackground;
  color: @warningTextColor;
  font-size: 13px;
}

.primary-text {
  color: @grey-200;
  font-size: 14px;

  &--big {
    font-size: 16px;
  }
}

.sub-text {
  color: @grey-500;
  font-size: 13px;

  &--big {
    font-size: 14px;
  }
}

.blue-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 4px;
  border-radius: 100%;
  background-color: @blue;
}

.status-new {
  color: white;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 13px;
  border-radius: 3px;
  background-color: @blue;
  text-transform: uppercase;
  padding: 2px 4px;
  margin-right: 4px;
}

i.icon.status-pending {
  background-color: @grey-500;
  border-radius: 100%;
  height: 16px;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.biomarker-green {
  color: @green;
}

.biomarker-yellow {
  color: @yellow;
}

.biomarker-red {
  color: @crimson;
}
